@import "reset.css";
@import "table-style.css";

/* CSS */
body {
    padding: 0;
    background: #fff url('/img/bg.jpg') repeat-x;
    font: 0.8em/1.5 "arial", sans-serif;
    color: #303030;
}

a {
    color: #d0553d;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0 7px 0;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
    font-weight: normal;
    color: #d0553d;
}

h3 {
    font-size: 120%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 14px;
    font-weight: bold;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.clear {
    clear: both;
}

.current {
    color: #a5422f;
    font-weight: bold;
}

#layout {
    margin: 0 auto;
    width: 800px;
}

#header {
    padding: 10px 0 0 0;
    position: relative;
}

#content {
    padding: 10px 12px;
}

#header h1 {
    text-decoration: none;
    color: #d0553d;
    padding-left: 50px;
}

#request-form {
    padding-left: 50px;
    margin: 0 auto;
    height: 450px;
    display: block;
}

#request-form .flabel {
    margin: 10px 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: auto;
}

#request-form textarea{
    font-family: arial;
}

#footer {
    padding: 10px 0 10px 0px; margin-left: 15px;
    color: #aaaaaa;
    border-top: 1px solid #dadada;

}

#footer p {
    margin-top: 0;
    margin-bottom: 0;
}

#request table, td, tr {
    border: 1px solid #D0553D;
}

#request table {
    border-collapse: collapse;
    width: 700px;
}

#request {
    float: left;
    margin-top: 10px;
}

#request .subject-date p, h2 {
    display: inline-block;
}

h2 {
    overflow-wrap: break-word;
    display: inline-block;
    width: 800px;
}

#request .subject-date p {
    float: right;
    color: #767676;
    font-size: 10px;
}

#request .subject-date h2 {
    color: #a5422f;
}

#request .client-information {
    margin: 15px 0;
}

#request .client-information div {
    float: left;
    width: 33%;
    overflow-wrap: break-word;
}

#request .client-information div span, #request .client-information div form {
    display: inline;
}

#request .client-information input{
    background: none;
    border: none;
    display: inline;
    color: #4169e1;
}

#request .client-information{
    padding: 15px 0px;
}

#meniu {
    background-color: #cb4329;
    height: 40px;
    width: 100%;
}

#meniu ul li {
    display: inline;
    padding: 3px 29px;
}

#meniu li.border {
    border-right: 1px solid #ffffff;
}

#meniu ul {
    padding-top: 11px;
    float: left;
}

#meniu a {
    color: #ffffff;
    text-decoration: none;
}

#meniu a:hover {
    color: #f2aa7a;
}

#meniu .waiting {
    background: #FFD700;
    padding: 5px 15px;
    margin-left: -15px;
    color: #000;
}

#meniu .waiting:hover {
    color: inherit;
}

#meniu .search {
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 7px;
    display: inline;
}

#meniu .search input {
    border: 1px solid #757575;
}

#meniu .search input.submit {
    background: url("/img/search-icon.png") no-repeat;
    width: 28px;
    height: 19px;
    border: none;
}

/* Pagination */

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination .page, #pagination .prev, #pagination .next {
    display: inline-block;
    margin: 4px;
}

#pagination .page a {
    display: block;
    border: 1px solid #000;
    padding: 2px 5px;
}

#pagination .page a:hover {
    background: #f6f6f6;
}

#pagination .current {
    padding: 2px 5px;
    border: 1px solid #000;
    font-weight: bold;
    background: #efefef;
}

/* Request-list */

table#requests-list {
    width: 100%;
}

#requests-list tr {
    border: none;
    border-bottom: solid 1px #ccc;
}

#requests-list tr:hover td {
    background: #f6f6f6;
}

#requests-list th {
    font-weight: bold;
    padding: 5px 0;
}

#requests-list td {
    word-break: break-all;
    overflow: hidden;
    padding: 5px 5px 4px;
    border: none;
    height: 45px;
}

#requests-list td.subject {
    color: #a5422f;
    font-size: 14px;
    font-weight: bold;
}

#requests-list .created {
    width: 60px;
}

#requests-list td.created {
    color: #757575;
    font-size: 11px;
}

#requests-list .author {
    width: 150px;
}

#requests-list .email {
    width: 190px;
}

#requests-list .status {
    width: 2px;
}

#requests-list .status.color0 {
    background: #eee;
}

#requests-list .status.color1 {
    background: #ffffbb;
}

#requests-list .status.color2 {
    background: #ddffdd;
}

#requests-list .status.color3 {
    background: #ffdddd;
}

#requests-list td a {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 40px;
    overflow: hidden;
    color: inherit;
}

.not-found {
    width: 650px;
    margin: 5px 49px;
    background: white;
    border: solid 1px #E64729;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

/* boss meniu */

#boss-meniu ul li, #dates ul li{
    display: inline;
}

#boss-meniu, #dates{
    padding-bottom: 20px;
}

#boss-meniu{
    padding-top: 10px;
}

#boss-meniu li.border-boss, #dates li.border-boss{
    border-right: solid 1px #d0553d;
    padding: 2px 12px 2px 12px;
}

#boss-meniu li.border-non, #dates li.border-non{
    padding-left: 12px;
    padding-left: 12px;
}

/* Dabartinė charakteristika, Užklausų statistika lentelės */

#current-table th.padding, #req-table th.padding, #req-table2 th.padding{
    padding-right: 20px;
    padding-left: 5px;
    text-align: left;
}

#current-table td.padding-td, #req-table td.padding-td, #req-table2 td.padding-td{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

#current-table, #req-table, #req-table2{
    padding-left: 12px;
}

#req-table{
    padding-bottom: 20px;
}

/* Logout */

p.logout{
    float: right;
    padding-left: 6px;
    margin-top: 29px;
}

.tag-logo{
    height: 75px;
    display: inline;
}


/* Log in forma */

#log-in{
    padding: 20px;
}

#log-in input[type="submit"], #register-form input[type="submit"]{
    margin: 27px 0px;
    padding: 2px 5px;
}

#log-in .display a{
    margin-left: 5px;
}

#log-in td.display{
    padding: 5px 5px;
}

#log-in input[type="text"], input[type="password"]{
    margin: 5px 5px;
}

label[for="login"]{
    padding: 8px 12px;
}

p.login{
    float: right;
    padding: 30px;
}

/* register form */

label{
    padding: 8px 8px;
}

#register-form{
    margin: 0px 10px;
}

#register-form tr .border-none{
    border-right: none;
}

/* personal-manager */

#personal-manager th{
  padding: 5px 10px;
}

#personal-manager tr.status{
    text-align: center;
    border-left: none;
    border-right: none;
}

td.border-none{
    border: none;
}

#personal-manager tr{
    border-right: none;
    border-left: none;
    border-top: none;
}

#personal-manager tr:hover td, tr.status:hover th{
    color: black;
    background: #E74E2F;
}

#personal-manager tr .bold{
    font-weight: bold;
}

#personal-manager{
    margin: 32px 0px;
}






