#one-column-emphasis
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 11px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#one-column-emphasis th
{
    font-size: 12px;
    font-weight: normal;
    padding: 12px 15px;
}
#one-column-emphasis td
{
    padding: 10px 15px;
    border-top: none;
}
.oce-first
{
    background: white;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
}
#one-column-emphasis tr:hover td
{
    color: black;
    background: #e74e2f;
}

table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 9pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: white;
    border-bottom: 1px solid #D0553D;
    font-size: 8pt;
    padding: 4px;
}

table.tablesorter tbody tr td{
    border-bottom: 1px solid #D0553D;
}
table.tablesorter thead tr .header {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 17px;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #000000;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color:white;
    text-align: center;
}
table.tablesorter thead tr .headerSortUp {
    background-position: right -29px;
}
table.tablesorter thead tr .headerSortDown {
    background-position: right -76px;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: white;
}

.tablesorter tr{
    border-left: none;
    border-right: none;
}

.tablesorter thead tr{
    border-top: none;
}
